.details_title {
    margin: .5rem 0 .5rem;
}

.details_title_date {
    color: #b6b4b4;
}

.details_details {
    border: 1px solid #80D7FF;
    background-color: #E5F7FF;
    padding: 2rem;
    margin-top: 2rem;
}

.lower_details {
    margin-top: 1.5rem;
}