/* shayan start*/
* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #F7F8F9 !important;
  font-weight: normal !important;
}

hr {
  opacity: .5;
}

.App {
  text-align: center;
  max-width: 1300px !important;
  margin: auto;
}

/* form start */
label {
  font-weight: bold;
  display: flex;
  width: 400
}

input[type='text'],
input[type='phone'],
input[type='email'],
textarea {
  display: block;
  width: 300px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

/* form end */

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 3px;
  text-align: left;
  font-size: 16px;
}

.popery_page_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.divide_column_half {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.divide_column_end {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.mui_icon{
  color: #1976D2;
  font-size: 24px !important;
  margin-top: -.2rem;
}

li {
  display: inline-block;
  list-style-type: none;
}


/* shayan end*/






/* previous */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --color-1: #004e8f;
  --color-2: #0078b1;
  --color-3: #d8a31a;
  --color-4: #e2f0ff;
  --color-5: #ffffff;
  --shadow-sm: 0 1px 2px 0 rgb(0, 106, 194, 0.1);
  --shadow-base: 0 1px 3px 0 rgb(0, 106, 194, 0.2),
    0 1px 2px -1px rgb(0, 106, 194, 0.2);
  --shadow-md: 0 4px 6px -1px rgb(0, 106, 194, 0.2),
    0 2px 4px -2px rgb(0, 106, 194, 0.2);
  --shadow-lg: 0 10px 15px -3px rgb(0, 106, 194, 0.2),
    0 4px 6px -4px rgb(0, 106, 194, 0.2);
  --shadow-xl: 0 20px 25px -5px rgb(0, 106, 194, 0.2),
    0 8px 10px -6px rgb(0, 106, 194, 0.2);
  --shadow-2xl: 0 25px 50px -12px rgb(0, 106, 194, 0.5);
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #000;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-1);
  color: var(--color-5);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-1);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;

}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
  vertical-align: middle;
}

svg {
  font-size: inherit !important;
}

.mdi-icon {
  height: inherit !important;
  width: inherit !important;
}

.bg-1 {
  background: var(--color-2) !important;
  color: var(--color-1) !important;
}

.bg-3 {
  background: var(--color-3) !important;
  color: var(--color-3) !important;
}

.bg-5 {
  background: var(--color-5) !important;
  color: var(--color-3) !important;
}

.btn-1 {
  background: var(--color-1) !important;
  color: var(--color-1) !important;
}

.btn-2 {
  background: var(--color-3) !important;
  color: var(--color-3) !important;
}

.btn-3 {
  border-color: var(--color-1) !important;
  color: var(--color-2) !important;
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.slide-bottom {
  animation: slide-bottom 0.3s ease-in-out;
}

@keyframes slide-bottom {
  0% {
    margin-top: -30px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.onhover {
  position: relative;
  cursor: pointer;
}

.onhover-open {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.onhover:hover>.onhover-open {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

.onhover-open::before {
  content: "";
  background: var(--color-3);
  position: absolute;
  height: 3px;
  width: 50%;
  border-radius: 10px;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}

/*********************************************************************
* Components
*********************************************************************/

/**********************************
* Model
**********************************/

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  overflow-y: auto;
  z-index: 999;
}

.model-overlay.center {
  display: grid;
  place-items: center;
}

.model {
  width: 90%;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  box-shadow: 0 9px 16px 0 rgba(0, 106, 194, 0.1);
  animation: fade 0.3s ease-in;
}

.model-close-btn {
  height: 50px;
  min-width: 50px !important;
  max-width: 50px;
  position: absolute !important;
  top: -20px;
  right: -20px;
  border-radius: 50% !important;
}

.model-close-btn span {
  color: var(--color-5);
  font-size: 1.5rem;
  line-height: 2rem;
}

/**********************************
* Error
**********************************/

@keyframes img-404 {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin: 0.75rem 0;
}

.error-wrapper .title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.img-404 {
  width: 90%;
  max-width: 300px;
  animation: img-404 1s infinite;
}

/**********************************
* Alert
**********************************/

@keyframes scale {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.alert-layer {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}

.alert-box {
  background: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  animation-duration: 0.3s;
}

.alert-box.ani-scale {
  animation-name: scale;
}

.alert-box.ani-slideTop {
  animation-name: slideTop;
}

.alert-box.ani-slideBottom {
  animation-name: slideBottom;
}

.alert-content {
  padding: 20px;
}

.alert-icon {
  display: grid;
  place-items: center;
  padding: 10px;
}

.alert-icon svg {
  font-size: 50px;
}

.alert-icon .c-error {
  color: #e2293c;
}

.alert-icon .c-success {
  color: #198754;
}

.alert-icon .c-warning {
  color: orange;
}

.alert-title {
  font-weight: 500;
  margin-top: 15px;
  font-size: 1.25rem;
  text-align: center;
}

.alert-extra-info {
  font-size: 0.9rem;
  line-height: 25px;
  text-align: center;
}

.alert-btns-wrap {
  background: rgba(240, 240, 240, 0.432);
  padding: 15px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
}

.alert-btn {
  border: 0;
  outline: none;
  border-radius: 7px;
  padding: 7px 20px;
  font-size: 0.9rem;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 15%);
}

.b-default {
  background: #eee;
  color: #000;
}

.b-default:hover {
  background: rgb(194, 194, 194);
}

.b-success {
  background: #198754;
  color: #fff;
}

.b-error {
  background: #e2293c;
  color: #fff;
}

.b-warning {
  background: orange;
  color: #fff;
}

/**********************************
* Navbar
**********************************/

#navbar {
  background: var(--color-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-lg);
  z-index: 99;
}

#home-navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  z-index: 99;
}

.nav-logo {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-5);
  font-weight: 700;
}

.home-nav-logo {
  display: block !important;
}

.nav-tabs {
  color: rgb(226 232 240 / 3);
  font-weight: 500;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 1.75rem;
}

.nav-tabs .n-tab {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav-tabs .n-tab:hover {
  border-color: rgb(216 163 26 / 3);
}

.searchbar {
  background: var(--color-5);
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.4rem;
  margin: 0 2.5rem;
  padding: 0.25rem 0.75rem;
}

.searchbar .input-wrap {
  width: 100%;
  height: 2.5rem;
}

.searchbar .input-wrap input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  outline: none;
}

.searchbar .location-icon,
.searchbar .voice-icon,
.searchbar .search-icon {
  background: var(--color-4);
  color: #0078b1;
  width: 2.1rem;
  height: 2.1rem;
  min-width: 2.1rem;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.searchbar .search-icon {
  background: unset;
  color: unset;
}

.searchbar .search-btn {
  background: var(--color-2);
  color: var(--color-5);
  line-height: 1rem;
  min-width: 100px;
  font-size: 1.25rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.searchbar .search-btn span {
  font-size: 1rem;
}

.post-property-btn {
  background: rgb(247 250 252 / 1);
  color: #000;
  font-weight: 500;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.post-property-btn span {
  margin-left: 0.8rem;
  background: rgb(47 133 90 /1);
  color: #fff;
  font-size: 0.8rem;
  padding: 0.17rem 0.5rem;
  border-radius: 0.3rem;
}

.profile-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  color: rgb(226 232 240 / 3);
}

.profile-icon {
  font-size: 1.5rem;
}

.profile-wrap {
  width: 180px;
  background: var(--color-5);
  top: 3.5rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-xl);
  padding: 1rem;
  font-size: 0.8rem;
  color: #000;
  z-index: 100;
  cursor: auto;
}

.profile-wrap .item {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
}

.profile-wrap .item:hover {
  background: rgb(226 232 240 /3);
}

.login-btn {
  color: var(--color-2);
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0 0.8rem;
  border-bottom: 2px solid rgb(99 179 237 / 4);
  cursor: pointer;
}

.menu-btn {
  color: var(--color-5);
  padding: 0.25rem;
  margin-left: 0.75rem;
  cursor: pointer;
}

.menu-btn span {
  font-size: 1.5rem;
}

.searchbar-filter {
  background: var(--color-5);
  height: 0;
  width: 95%;
  margin: auto;
  overflow: hidden;
  border-top: 1px solid rgb(226 232 240 / 3);
  border-radius: 0 0 0.75rem 0.75rem;
  transition: 0.3s;
}

.searchbar-filter.active {
  height: 200px;
}

@media screen and (max-width: 1150px) {
  .nav-tabs {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  #navbar {
    padding: 0 0.8rem;
  }
}

@media screen and (max-width: 950px) {
  .post-property-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: row-reverse;
    padding: 0;
  }

  .nav-logo,
  .profile-btn,
  .searchbar .location-icon,
  .searchbar .voice-icon {
    display: none;
  }

  .searchbar {
    gap: 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 1rem;
  }
}

/**********************************
* Sidebar
**********************************/

#sidebar {
  width: 320px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  transition: 0.5s;
}

#sidebar.active {
  right: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  opacity: 0;
  z-index: 998;
  visibility: hidden;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-header {
  background: rgb(238, 242, 244);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.sd-login-link {
  color: var(--color-2);
}

.sd-close-btn {
  color: #333;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.sd-close-btn:hover {
  color: var(--color-2);
}

.sd-body {
  padding: 10px 15px;
  max-height: calc(100vh - 60px);
  font-size: 14.5px;
  font-weight: 500;
  overflow-x: hidden;
}

.sd-b-main-item {
  padding: 20px;
  border-radius: 0.5rem;
}

.sd-b-item {
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 10px;
}

.sd-b-main-item:hover,
.sd-b-item:hover {
  background: #f4f8fc;
}

.sd-b-post-pro {
  font-weight: 600;
}

.sd-b-post-pro span {
  margin-left: 0.8rem;
  background: rgb(47 133 90 /1);
  color: #fff;
  font-size: 0.8rem;
  padding: 0.17rem 0.5rem;
  border-radius: 0.3rem;
}

.sd-line {
  margin: 5px 0;
  background: #eee;
  height: 1px;
}

/**********************************
* Footer
**********************************/

#footer {
  background: #151c22;
  color: #ebf8ff;
  padding: 3rem;
  font-size: 0.95rem;
  letter-spacing: 0.025em;
}

.footer-content {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.contact-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.f-social-icons {
  display: flex;
  gap: 1.25rem;
  padding: 0.5rem 0;
}

.f-social-icons span {
  height: 1.75rem;
  width: 1.75rem;
  color: #ebf8ff;
}

.f-social-icons span:hover {
  color: rgb(216 163 26 /1);
}

.footer-item {
  margin-bottom: 0.5rem;
}

.footer-link {
  color: rgb(216 163 26 /1);
}

.f-email-link {
  margin-bottom: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.f-sec-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.f-link-hover:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-content {
    gap: 2.5rem;
  }
}

/**********************************
* NearByLocation
**********************************/

.error-mes {
  margin: 1.75rem 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(26 32 44 / 1);
}

.error-desc {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1.75rem;
  color: rgb(74 85 104 / 1);
  font-weight: 500;
}

/**********************************
* SpeechRecognition
**********************************/

.speech-model-title {
  margin: 1.75rem 0;
  text-align: center;
  color: rgb(26 32 44 / 1);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.speech-model-text {
  text-align: center;
  color: rgb(74 85 104 / 1);
  font-size: 0.87rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.mic-btn-outline {
  margin: 1.75rem 0;
}

.mic-btn {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.5rem;
  color: var(--color-2);
  border: 2px solid rgb(190 227 248/1);
  display: block;
  margin: 0.25rem auto 1.75rem;
  border-radius: 50%;
  font-size: 1.87rem;
  line-height: 0.25rem;
}

.mic-btn-1 {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.5rem;
  background: var(--color-2);
  color: var(--color-5);
  display: block;
  margin: 0.25rem auto 0;
  border-radius: 50%;
  font-size: 1.87rem;
  line-height: 0.25rem;
  position: relative;
  z-index: 10;
}

.tap-title-wrap {
  text-align: center;
  margin-bottom: 1rem;
}

.tap-title {
  color: var(--color-2);
  font-weight: 600;
}

.speech-model-text .title {
  margin-bottom: 0.5rem;
}

.speech-result {
  font-size: 15px;
  margin: 1.25rem 0;
  text-align: center;
}

.pulse-ring {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--color-2);
  animation: pulsate 1.5s infinite;
  z-index: -1;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

/*********************************************************************
* Pages
*********************************************************************/

/**********************************
* Home
**********************************/

.home-banner {}

.home-banner-wrap {
  position: relative;
  clip-path: polygon(100% 0%,
      0% 0%,
      0% 91.81%,
      2% 92.57%,
      4% 93.49%,
      6% 94.51%,
      8% 95.55%,
      10% 96.56%,
      12% 97.47%,
      14% 98.23%,
      16% 98.78%,
      18% 99.1%,
      20% 99.16%,
      22% 98.95%,
      24% 98.5%,
      26% 97.83%,
      28% 96.98%,
      30% 96.01%,
      32% 94.97%,
      34% 93.94%,
      36% 92.97%,
      38% 92.13%,
      40% 91.47%,
      42% 91.03%,
      44% 90.84%,
      46% 90.91%,
      48% 91.24%,
      50% 91.81%,
      52% 92.57%,
      54% 93.49%,
      56% 94.51%,
      58% 95.55%,
      60% 96.56%,
      62% 97.47%,
      64% 98.23%,
      66% 98.78%,
      68% 99.1%,
      70% 99.16%,
      72% 98.95%,
      74% 98.5%,
      76% 97.83%,
      78% 96.98%,
      80% 96.01%,
      82% 94.97%,
      84% 93.94%,
      86% 92.97%,
      88% 92.13%,
      90% 91.47%,
      92% 91.03%,
      94% 90.84%,
      96% 90.91%,
      98% 91.24%,
      100% 91.81%);
  overflow: hidden;
}

.home-banner-img {
  height: calc(100vh - 100px);
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0%,
      0% 0%,
      0% 91.81%,
      2% 92.57%,
      4% 93.49%,
      6% 94.51%,
      8% 95.55%,
      10% 96.56%,
      12% 97.47%,
      14% 98.23%,
      16% 98.78%,
      18% 99.1%,
      20% 99.16%,
      22% 98.95%,
      24% 98.5%,
      26% 97.83%,
      28% 96.98%,
      30% 96.01%,
      32% 94.97%,
      34% 93.94%,
      36% 92.97%,
      38% 92.13%,
      40% 91.47%,
      42% 91.03%,
      44% 90.84%,
      46% 90.91%,
      48% 91.24%,
      50% 91.81%,
      52% 92.57%,
      54% 93.49%,
      56% 94.51%,
      58% 95.55%,
      60% 96.56%,
      62% 97.47%,
      64% 98.23%,
      66% 98.78%,
      68% 99.1%,
      70% 99.16%,
      72% 98.95%,
      74% 98.5%,
      76% 97.83%,
      78% 96.98%,
      80% 96.01%,
      82% 94.97%,
      84% 93.94%,
      86% 92.97%,
      88% 92.13%,
      90% 91.47%,
      92% 91.03%,
      94% 90.84%,
      96% 90.91%,
      98% 91.24%,
      100% 91.81%);
  transition: all 0.4s ease-in-out;
}

.home-banner-wrap:hover>.home-banner-img {
  transform: scale(1.03);
}

.home-banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #0250904d;
  clip-path: polygon(100% 0%,
      0% 0%,
      0% 91.81%,
      2% 92.57%,
      4% 93.49%,
      6% 94.51%,
      8% 95.55%,
      10% 96.56%,
      12% 97.47%,
      14% 98.23%,
      16% 98.78%,
      18% 99.1%,
      20% 99.16%,
      22% 98.95%,
      24% 98.5%,
      26% 97.83%,
      28% 96.98%,
      30% 96.01%,
      32% 94.97%,
      34% 93.94%,
      36% 92.97%,
      38% 92.13%,
      40% 91.47%,
      42% 91.03%,
      44% 90.84%,
      46% 90.91%,
      48% 91.24%,
      50% 91.81%,
      52% 92.57%,
      54% 93.49%,
      56% 94.51%,
      58% 95.55%,
      60% 96.56%,
      62% 97.47%,
      64% 98.23%,
      66% 98.78%,
      68% 99.1%,
      70% 99.16%,
      72% 98.95%,
      74% 98.5%,
      76% 97.83%,
      78% 96.98%,
      80% 96.01%,
      82% 94.97%,
      84% 93.94%,
      86% 92.97%,
      88% 92.13%,
      90% 91.47%,
      92% 91.03%,
      94% 90.84%,
      96% 90.91%,
      98% 91.24%,
      100% 91.81%);
}

.home-banner-wave {
  position: absolute;
  top: 0;
  height: calc(100vh - 100px);
  width: 100%;
  background: #0250904d;
  clip-path: polygon(100% 0%,
      0% 0%,
      0% 91.81%,
      2% 92.93%,
      4% 94.3%,
      6% 95.76%,
      8% 97.12%,
      10% 98.23%,
      12% 98.94%,
      14% 99.17%,
      16% 98.88%,
      18% 98.12%,
      20% 96.98%,
      22% 95.6%,
      24% 94.14%,
      26% 92.79%,
      28% 91.71%,
      30% 91.03%,
      32% 90.84%,
      34% 91.16%,
      36% 91.95%,
      38% 93.11%,
      40% 94.51%,
      42% 95.96%,
      44% 97.3%,
      46% 98.36%,
      48% 99%,
      50% 99.16%,
      52% 98.8%,
      54% 97.98%,
      56% 96.8%,
      58% 95.39%,
      60% 93.94%,
      62% 92.61%,
      64% 91.58%,
      66% 90.97%,
      68% 90.85%,
      70% 91.24%,
      72% 92.09%,
      74% 93.3%,
      76% 94.72%,
      78% 96.17%,
      80% 97.47%,
      82% 98.48%,
      84% 99.06%,
      86% 99.14%,
      88% 98.71%,
      90% 97.83%,
      92% 96.6%,
      94% 95.18%,
      96% 93.73%,
      98% 92.44%,
      100% 91.47%);
}

.searchbar-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.searchbar-layer.active {
  position: fixed;
  backdrop-filter: blur(2px);
}

.searchbar-container {
  width: max-content;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchbar-box {
  background: var(--color-5);
  box-shadow: var(--shadow-lg);
  border-radius: 0.75rem;
}

.s-prop-type-con {
  display: flex;
  padding: 0 0.5rem;
  border-bottom: 1px solid #ebebeb;
}

.s-p-t-item {
  padding: 0 1.25rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.s-p-t-i-title {
  border-bottom: 3px solid #fff;
  padding: 1rem 0.5rem;
}

.s-p-t-item.active .s-p-t-i-title {
  border-color: var(--color-1);
}

@media screen and (max-width: 900px) {
  .s-prop-type-con {
    display: none;
  }
}

/**********************************
* Test
**********************************/

.btn {
  background: var(--color-1) !important;
  text-transform: capitalize !important;
  gap: 8px;
}

.btn svg {
  font-size: 20px !important;
}

